[Unit]
Description=DevOps Fetch Continuous Monitoring Service

[Service]
ExecStart=/home/ubuntu/devopsfetch_env/bin/python /home/ubuntu/devopsfetch_service.py
Restart=always
User=your_username

[Install]
WantedBy=multi-user.target

